<h1>Edit guide_item</h1>

<form id="edit-guide_item" name="guide_item">
  <div class="field">
    <label for="section_id"> section_id:</label>
    <input type="text" name="section_id" id="section_id" value="<%= section_id %>" >
  </div>

  <div class="field">
    <label for="critter_id"> critter_id:</label>
    <input type="text" name="critter_id" id="critter_id" value="<%= critter_id %>" >
  </div>

  <div class="field">
    <label for="secion_index"> secion_index:</label>
    <input type="text" name="secion_index" id="secion_index" value="<%= secion_index %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Update Guide item" />
  </div>

</form>

<a href="#/index">Back</a>