<h1>Search for Wikipedia Images</h1>

<form accept-charset="UTF-8" id="search_wikipedia" method="post">
  <div class="row">
    <input type="text" name="wikipedia_name">
    
  </div>
</form>

<div id="results">
  
</div>

<ul id="wiki_image_pages-list">

</ul>

