<div class="row">

  <h3><%= title %></h3>

  <iframe src="http://commons.wikimedia.org/wiki/<%= title %>" class="eight columns"></iframe>

  <form class="four columns">
    <input type="text" name="attribution" value="<%= attribution %>" />
    <input type="text" name="url" value="<%= url %>" />
  </form>

</div>
